<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>
      {{ 'songlist.detail.buttom.add' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="dark" class="ion-no-margin">
    <ion-card-content>
      <!-- Create song form  (keydown)="keyDownFunction($event)" -->
      <form [formGroup]="createSongForm" class="list-form">
        <ion-item lines="none" class="ion-no-padding animated fadeInUp">
          <ion-label color="tertiary" position="floating">
            <ion-icon name="list" slot="start"></ion-icon>
            {{ 'songlist.detail.songname.title' | translate }}
          </ion-label>
          <ion-input color="light" type="text" formControlName="songName"></ion-input>
        </ion-item>
        <p class="text08 msg" *ngIf="f.songName.errors && hasError">
          <ion-text color="danger" *ngIf="f.songName.errors.required">
            {{ 'form.error.required' | translate }}
          </ion-text>
        </p>

        <ion-item lines="none" class="ion-no-padding animated fadeInUp">
          <ion-label color="tertiary" position="floating">
            <ion-icon name="list" slot="start"></ion-icon>
            {{ 'songlist.detail.artistname.title' | translate }}
          </ion-label>
          <ion-input color="light" type="text" formControlName="artistName"></ion-input>
        </ion-item>
        <p class="text08 msg" *ngIf="f.artistName.errors && hasError">
          <ion-text color="danger" *ngIf="f.artistName.errors.required">
            {{ 'form.error.required' | translate }}
          </ion-text>
        </p>

        <ion-item lines="none" class="ion-no-padding animated fadeInUp">
          <ion-label color="tertiary" position="floating">
            <ion-icon name="list" slot="start"></ion-icon>
            {{ 'songlist.detail.albumname.title' | translate }}
          </ion-label>
          <ion-input color="light" type="text" formControlName="albumName"></ion-input>
        </ion-item>
        <p class="text08 msg" *ngIf="f.albumName.errors && hasError">
          <ion-text color="danger" *ngIf="f.albumName.errors.required">
            {{ 'form.error.required' | translate }}
          </ion-text>
        </p>

        <ion-item lines="none" class="ion-no-padding animated fadeInUp">
          <ion-label color="tertiary" position="floating">
            <ion-icon name="list" slot="start"></ion-icon>
            {{ 'songlist.detail.songdesc.title' | translate }}
          </ion-label>
          <ion-textarea color="light" formControlName="songDescription"></ion-textarea>
        </ion-item>
        <p class="text08 msg" *ngIf="f.songDescription.errors && hasError">
          <ion-text color="danger" *ngIf="f.songDescription.errors.required">
            {{ 'form.error.required' | translate }}
          </ion-text>
        </p>

        <div class="ion-margin-top">
          <ion-button size="large" expand="full" color="primary" (click)="createSong()">
            <!-- [disabled]="isOffline" -->
            <ion-icon name="musical-note" slot="start"></ion-icon>
            {{ 'songlist.detail.buttom.add' | translate }}
          </ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
